@charset "utf-8";
body{
	background-color:gray
}

img {width: 400px}

img{border-radius: 20px}

@keyframes myAnimation {
  from {width: 400px;}
  to {width: 500px;}
from{box-shadow: 0px 0px 0px}
to{box-shadow: 0px 5px 10px black}
}

@keyframes bounceAnim{
	from{transform: translateY(10px)}
	to{transform: translateY(0)}
}

img:hover{
animation-name: myAnimation;
animation-duration: 0.5s;
animation-fill-mode: forwards;
}

h3{color: crimson;
	animation-name: bounceAnim;
	animation-duration: 1s;
	animation-direction: alternate;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	
text-shadow: 2px 2px 5px darkred;
	font-size: 50px
}


ul {
border-radius: 10px;
	box-shadow: 0px 0px 5px 0px white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}



body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

